[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aberrance"]
	path = aberrance
	url = https://github.com/kyliegorney/aberrance
